$accent-color:        #b75800;      // orange accent color - to use when something is focused, selected, or active
$focus-color:         #4a5958;      // background color when ui elements are focused or active
$focus-color-inverse: #d16900;      // background color when inverse ui elements (background color is accent) is focused
$border-color:        $focus-color; // color for borders - same as focus color here
$panel-background:    #3f4c4b;      // background color for panels - lighter than primary background
$primary-background:  #343f3e;      // default background color
$text-color:          #edfffe;      // bright blueish-white text color to complement the primary background

$context-active:      #3ec300;      // context color for active elements
$context-error:       #d3592e;      // context color for elements in an error state
$context-info:        #337ca0;      // context color for informational elements
$context-variable:    #48aee0;      // context color for elements that reference a variable
$context-warning:     #fffc31;      // context color for elements in a warning state

::selection {
    background-color: $accent-color;
}

.about {
    display: flex;
    flex-direction: column;
    padding: 8px;
    margin-left: auto;
    margin-right: auto;
    max-width: 350px;
    width: 100%;
}

.about__logo {
    margin-left: auto;
    margin-right: auto;
}

#attach {
    margin-right: auto;
}

.banner {
    align-items: center;
    background-color: $accent-color;
    display: flex;
    padding: 8px;
}

.banner__text {
    flex: 1;
    font-size: 12px;
    margin: 0 8px;
}

body {
    background-color: $primary-background;
    box-sizing: content-box;
    color: $text-color;
    display: flex;
    flex-direction: column;
    font-family: "Fira Code", sans-serif;
    margin: 0;
    height: 100vh;
}

.builder {
    background-color: $panel-background;
    display: flex;
    flex-direction: column;
    padding: 8px;
    position: relative; // fix for jQuery UI resize handles
    width: 256px;
}

.button {
    background-color: transparent;
    border: none;
    border-radius: 8px;
    color: $text-color;
    cursor: pointer;
    flex-shrink: 0;
    height: 32px;
    margin: 0 4px;
    outline: none;
    padding: 0;
    width: 32px;
}

.button:active {
    border: 1px solid $accent-color;
}

.button:hover {
    background-color: $focus-color;
}

.button.button--inverse:active {
    border: 1px solid $text-color;
}

.button.button--inverse:hover {
    background-color: $focus-color-inverse;
}

.button--active {
    color: $context-active;
}

.button--error {
    color: $context-error;
}

.button--warning {
    color: $context-warning;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

#editor {
    flex: 1;
    height: 300px;
    margin-bottom: 8px;
}

.editor-buttons {
    display: flex;
    justify-content: flex-end;
}

h1 {
    font-size: 16px;
    font-weight: normal;
    margin-bottom: 0;
}

h2 {
    font-size: 14px;
    font-weight: normal;
    margin-bottom: 0;
}

.log {
    display: block;
    flex: 1;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    padding: 0 16px;
}

.log__empty-message {
    align-items: center;
    color: $focus-color;
    display: flex;
    justify-content: center;
    height: 100%;
}

.log-item {
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    border-radius: 8px;
    display: inline-block;
    font-size: 12px;
    max-width: calc(100% - 96px);
    word-wrap: break-word;
}

.log-item--error {
    border-left: 8px solid $context-error;
    border-right: 8px solid $context-error;
}

.log-item--info {
    border-left: 8px solid $context-info;
    border-right: 8px solid $context-info;
}

.log-item--request {
    border-left: 1px solid $border-color !important;
    float: right;
    margin-left: auto;
}

.log-item--response {
    border-right: 1px solid $border-color !important;
    margin-right: auto;
}

.log-item--service {
    border-left: 1px solid $border-color;
    border-right: 1px solid $border-color;
    max-width: none;
    text-align: center;
    width: 100%;
}

.log-item--success {
    border-left: 8px solid $context-active;
    border-right: 8px solid $context-active;
}

.log-item--warning {
    border-left: 8px solid $context-warning;
    border-right: 8px solid $context-warning;
}

.log-item__body {
    padding: 16px;
}

.log-row {
    margin: 16px 0;
}

.log-text-variable {
    color: $context-variable;
}

.nav {
    background-color: $panel-background;
    display: flex;
    padding: 8px;
}

p {
    font-size: 12px;
    margin-top: 0;
}

.panel__title {
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
}

.row {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.select-box {
    position: relative;
}

.select-box__element {
    -webkit-appearance: none;
    background-color: $primary-background;
    border: 1px solid $border-color;
    border-radius: 8px;
    color: #757575;
    font-family: "Fira Code", sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
    outline: none;
    padding: 8px;
    width: 100%;
}

.select-box__element:focus {
    background-color: $focus-color;
    border: 1px solid $accent-color;
}

.select-box__element:hover {
    background-color: $focus-color;
}

.select-box__indicator {
    color: #757575;
    display: block;
    font-size: 12px;
    line-height: 32px;
    position: absolute;
    right: 12px;
    top: 0;
}

.text-box {
    background-color: $primary-background;
    border: 1px solid $border-color;
    border-radius: 8px;
    box-sizing: border-box;
    color: $text-color;
    font-family: "Fira Code", sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
    outline: none;
    padding: 8px;
    width: 100%;
}

.text-box:focus {
    background-color: $focus-color;
    border: 1px solid $accent-color;
}

.text-box:hover {
    background-color: $focus-color;
}

// fix for jQuery UI resize handles not showing up
.ui-resizable-handle {
    cursor: col-resize;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 15px;
}
