<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Socketfox</title>
    <link rel="stylesheet" href="../fonts/font-awesome/css/all.css">
    <link rel="stylesheet" href="../fonts/fira-code/fira_code.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <script src="../../node_modules/ace-builds/src/ace.js" type="text/javascript"></script>
</head>
<body>
    <div class="nav">
        <input type="text" id="url" class="text-box" placeholder="Enter server address..." />
        <button id="connect" class="button" title="Connect"><i class="fas fa-plug"></i></button>
    </div>
    <main>
        <div class="builder">
            <p class="panel__title">Event builder</p>
            <input type="text" id="new-event-name" class="text-box" placeholder="Event name" />
            <div id="editor"></div>
            <div id="send">
                <button id="send__button" class="button" title="Send"><i class="fas fa-paper-plane"></i></button>
            </div>
        </div>
        <ul class="log">
            <li class="log__empty-message">No events</li>
        </ul>
    </main>
    <script type="text/javascript">
        require("../../build/renderer");
    </script>
</body>
</html>
