body {
    background-color: #343f3e;
    box-sizing: content-box;
    color: white;
    display: flex;
    flex-direction: column;
    font-family: "Fira Code", sans-serif;
    margin: 0;
    height: 100vh;
}

.builder {
    background-color: #3f4c4b;
    padding: 8px;
    width: 256px;
}

.button {
    border: none;
    border-radius: 8px;
    background-color: #3f4c4b;
    color: white;
    cursor: pointer;
    flex-shrink: 0;
    height: 32px;
    margin: 0 4px;
    outline: none;
    padding: 0;
    width: 32px;
}

.button:active {
    border: 1px solid #b75800;
}

.button:hover {
    background-color: #4a5958;
}

.button--active {
    color: #3ec300;
}

.button--error {
    color: #e3170a;
}

.button--warning {
    color: #fffc31;
}

#editor {
    height: 300px;
    margin-bottom: 8px;
}

#send {
    display: flex;
    justify-content: flex-end;
}

.log {
    flex: 1;
    height: 100%;
    list-style: none;
    margin: 0;
    overflow-y: scroll;
    padding: 0 16px;
}

.log__empty-message {
    align-items: center;
    color: #4a5958;
    display: flex;
    justify-content: center;
    height: 100%;
}

.log-item {
    border: 1px solid #4a5958;
    border-radius: 8px;
    font-size: 12px;
    margin: 16px 0;
    word-wrap: break-word;
}

.log-item--error {
     border-left: 8px solid #e3170a;
}

.log-item--info {
    border-left: 8px solid #337ca0;
}

.log-item--request {
    border-right: 8px solid #337ca0;
    margin-left: 96px;
}

.log-item--response {
    margin-right: 96px;
}

.log-item--success {
    border-left: 8px solid #3ec300;
}

.log-item--warning {
    border-left: 8px solid #fffc31;
}

.log-item__body {
    padding: 16px;
}

main {
    display: flex;
    flex: 1;
    flex-direction: row;
}

.nav {
    background-color: #3f4c4b;
    display: flex;
    padding: 8px;
}

.panel__title {
    font-size: 12px;
    font-weight: 500;
    margin-top: 0;
}

.select-box {
    position: relative;
}

.select-box__element {
    -webkit-appearance: none;
    background-color: #343f3e;
    border: 1px solid #4a5958;
    border-radius: 8px;
    color: #757575;
    font-family: "Fira Code", sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
    outline: none;
    padding: 8px;
    width: 100%;
}

.select-box__element:focus {
    background-color: #4a5958;
    border: 1px solid #b75800;
}

.select-box__element:hover {
    background-color: #4a5958;
}

.select-box__indicator {
    color: #757575;
    display: block;
    font-size: 12px;
    line-height: 32px;
    position: absolute;
    right: 12px;
    top: 0;
}

.text-box {
    background-color: #343f3e;
    border: 1px solid #4a5958;
    border-radius: 8px;
    box-sizing: border-box;
    color: white;
    font-family: "Fira Code", sans-serif;
    font-size: 12px;
    font-weight: 300;
    margin-bottom: 8px;
    outline: none;
    padding: 8px;
    width: 100%;
}

.text-box:focus {
    background-color: #4a5958;
    border: 1px solid #b75800;
}

.text-box:hover {
    background-color: #4a5958;
}