<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Socketfox</title>
    <link rel="stylesheet" href="../fonts/font-awesome/css/all.css">
    <link rel="stylesheet" href="../fonts/fira-code/fira_code.css" type="text/css">
    <link rel="stylesheet" href="../css/styles.css" type="text/css">
    <script>
        const exports = {}; // hack to get exports to work
    </script>
    <script src="../../../node_modules/ace-builds/src/ace.js"></script>
</head>
<body>
    <div id="container"></div>
    <script src="../../src/renderer/renderer.js"></script>
</body>
</html>
